# Node modules
node_modules/

# Env files
.env

# Logs
logs
*.log
npm-debug.log*

# Database files (por si tuvieras sqlite u otros locales)
*.sqlite
*.db

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# IDE files
.vscode/
.idea/
